[submodule "go"]
	path = go
	url = git@github.com:sweetrpg/db.go.git
[submodule "rust"]
	path = rust
	url = git@github.com:sweetrpg/db.rs.git
[submodule "python"]
	path = python
	url = git@github.com:sweetrpg/db.py.git
[submodule "swift"]
	path = swift
	url = git@github.com:sweetrpg/db.swift.git
